.content {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  text-align: center;
}

.image-list {
  padding: 0;
}

.image-list-item {
  list-style-type: none;
  padding: 20px 0;
  display: inline-block;
}

.image-item {
  border: 1px solid #ffffff;
}
